{% set CONTEXT = 'article' %}
{% extends "base.html" %}
{% block itemscope %}itemscope itemtype="http://schema.org/Article"{% endblock %}
{% block title %}{{ article.title|striptags }} | {{ SITENAME }}{% endblock %}

{# SEO ARTICLE INFO #}
{% set ARTICLE_TITLE = article.title|striptags|escape %}
{% if article.description %}
{% set ARTICLE_DESCRIPTION = article.description|striptags|escape %}
{% else %}
{%  set ARTICLE_DESCRIPTION = article.summary|striptags|escape|truncate(150) %}
{% endif %}

{% if article.image %}
{% set ARTICLE_IMAGE = SITEURL + article.image %}
{% elif OPEN_GRAPH_IMAGE %}
{% set ARTICLE_IMAGE = SITEURL + OPEN_GRAPH_IMAGE %}
{% else %}
{% set ARTICLE_IMAGE = None %}
{% endif %}
{# END SEO ARTICLE INFO #}

{% block seo %}

    <!-- OpenGraph -->
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ ARTICLE_TITLE }}"/>
    <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}"/>
    <meta property="og:site_name" content="{{ SITENAME }}"/>
    <meta property="og:description" content="{{ ARTICLE_DESCRIPTION }}"/>
    {% if ARTICLE_IMAGE  %}
    <meta property="og:image" content="{{ ARTICLE_IMAGE }}"/>
    {% endif %}

    <!-- Twitter -->
    <meta name="twitter:card" content="{% if article.podcast %}player{% else %}summary{% endif %}"/>
    <meta name="twitter:site" content="@magnunleno"/>
    <meta name="twitter:creator" content="@magnunleno"/>
    <meta name="twitter:domain" content="mindbending.org"/>
    <meta name="twitter:title" content="{{ ARTICLE_TITLE }}"/>
    <meta name="twitter:description" content="{{ ARTICLE_DESCRIPTION }}"/>
    {% if ARTICLE_IMAGE  %}
    <meta name="twitter:image:src" content="{{ ARTICLE_IMAGE }}"/>
    {% endif %}
    {% if article.podcast %}
    <meta name="twitter:player" content="{{ article.podcastembed }}"/>
    <meta name="twitter:player:stream" content="{{ article.podcast }}"/>
    <meta name="twitter:player:stream:content_type" content="video/mp4; codecs=&quot;avc1.42E01E1, mp4a.40.2&quot;"/>
    <meta name="twitter:player:width" content="640"/>
    <meta name="twitter:player:height" content="100"/>
    {% endif %}

    <!-- Article meta -->
    <meta property="article:author" content="{{ article.author }}"/>
    <meta property="article:section" content="{{ article.category }}"/>
    <meta property="article:tag" content="{{ article.tags|join(', ') }}"/>
    <meta property="article:published_time" content="{{ article.date.isoformat() }}"/>

    <!-- Google+ -->
    <meta itemprop="name" content="{{ ARTICLE_TITLE }}"/>
    <meta itemprop="description" content="{{ ARTICLE_DESCRIPTION }}"/>
    {% if ARTICLE_IMAGE  %}
    <meta itemprop="image" content="{{ ARTICLE_IMAGE }}"/>
    {% endif %}

    <!-- General purpose meta -->
    <meta name="description" content="{{ ARTICLE_DESCRIPTION }}"/>
    {% if article.tags %}
    <meta name="keywords" content="{{ article.tags|join(', ') }}"/>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
<div>
    <ol class="breadcrumb">
        <li>
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="{{ SITEURL }}" title="{{ SITENAME }}" itemprop="url">
                <i class="fa fa-home fa-lg"></i>
                <span itemprop="title" class="hidden">{{ DEFAULT_LANG }}</span>
            </a>
            </span>
        </li>
        {% if article.category %}
        <li>
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="{{ SITEURL }}/{{ article.category.url }}" title="{{ article.category }}" itemprop="url">
                <span itemprop="title">{{ article.category }}</span>
            </a>
            </span>
        </li>
        {% endif %}
        <li class="active">
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="{{ SITEURL }}/{{ article.url }}" title="{{ article.title|striptags|e }}" itemprop="url">
                <span itemprop="title">{{ article.title|striptags }}</span>
            </a>
            </span>
        </li>
    </ol>
</div>
{% endblock %}

{% block content %}
    <section id="content">
        <article>
            <header class="page-header">
                <h1>
                    <a href="{{ SITEURL }}/{{ article.url }}"
                       rel="bookmark"
                       title="Permalink to {{ article.title|striptags|e }}">
                        {{ article.title }}
                    </a>
                </h1>
                {% include "includes/article_info.html" %}
            </header>
            <div class="summary">
                <p class="lead">{{ article.description }}</p>
            </div>
            <div class="entry-content">
                {{ article.content|replace("<html>","")|replace("<body>","")|replace("</html>","")|replace("</body>","") }}
            </div>
            {% include 'includes/addthis.html' %}
            <!-- /.entry-content -->
            {% if AUTHORS is defined and article.author.name in AUTHORS %}
                {% set _author = AUTHORS[article.author.name] %}
                {% set author = article.author %}
                {% include 'includes/author-bio.html' %}
            {% endif %}
            {% include 'includes/related-posts.html' %}
            {% if ARTICLE_ADSENSE is defined %}
            <div class="adsense">
                {{ ARTICLE_ADSENSE }}
            </div>
            {% endif %}
            {% if article.comments != "closed" %}
                {% include 'includes/comments.html' %}
            {% endif %}
        </article>
    </section>

{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function() {
	$('#relatedCarousel').carousel({
	interval: 10000
	})
});
</script>
{% endblock %}

