{% set CONTEXT = 'tag' %}
{% extends "index.html" %}
{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
    <div>
        <ol class="breadcrumb">
            <li>
                <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="{{ SITEURL }}" title="{{ SITENAME }}" itemprop="url">
                    <i class="fa fa-home fa-lg"></i>
                    <span itemprop="title" class="hidden">{{ DEFAULT_LANG }}</span>
                </a>
                </span>
            </li>
            <li>
                <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="{{ SITEURL }}/tags" title="Tags" itemprop="url">
                    <span itemprop="title">Tags</span>
                </a>
                </span>
            </li>
            <li class="active">
                <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="#" title="{{ tag }}" itemprop="url">
                    <span itemprop="title">{{ tag }}</span>
                </a>
                </span>
            </li>
        </ol>
    </div>
    {% endif %}
{% endblock %}
{% block title %}{{ tag }} | {{ SITENAME }}{% endblock %}
