{% if ADDTHIS_PROFILE %}
    {% if ADDTHIS_SERVICES is not defined %}
        {% set ADDTHIS_SERVICES = ['facebook', 'twitter', 'google_plusone_share', 'email'] %}
    {% endif %}
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        {% for service in ADDTHIS_SERVICES %}
            <a class="addthis_button_{{ service }}"></a>
        {% endfor %}
        <a class="addthis_button_compact"></a>
        <a class="addthis_counter addthis_bubble_style"></a>
    </div>
    {% if ADDTHIS_DATA_TRACK_ADDRESSBAR|default(false) %}
        <script type="text/javascript">var addthis_config = {"data_track_addressbar": true};</script>
    {% endif %}
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ ADDTHIS_PROFILE }}"></script>
    <!-- AddThis Button END -->
{% endif %}
