<footer class="post-info">
    <span id="article-datetime">
        <i class="fa fa-calendar"></i><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
    </span>

    {% if article.author %}
    <span id="article-author">
        <a href="{{ SITEURL }}/{{ article.author.url }}"><i class="fa fa-user"></i>{{ article.author }}</a>
    </span>
    {% endif %}

    {% if article.category  and not ARTICLE_CATEGORY_IN_SIDEBAR %}
    <span id="article-category">
        <i class="fa fa-folder-open"></i><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
    </span>
    {% endif %}

    {% if PDF_PROCESSOR %}
    <span class="label label-default">
        <a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf">PDF</a>
    </span>
    {% endif %}

    {% include 'includes/comment_count.html' %}
    {% include 'includes/taglist.html' %}
    {% import 'includes/translations.html' as translations with context %}
    {{ translations.translations_for(article) }}
</footer><!-- /.post-info -->
