{% if NAVBAR_ELEMENTS is not defined %}
    {% set NAVBAR_ELEMENTS = ['brand-simple', 'menu-items', 'social'] %}
{% endif %}

<div class="navbar {% if BOOTSTRAP_NAVBAR_INVERSE %}navbar-inverse{% else %}navbar-default{% endif %} navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if 'brand-simple' in NAVBAR_ELEMENTS %}
                <a href="{{ SITEURL }}/" class="navbar-brand">{{ SITENAME }}</a>
            {% endif %}

        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
            {% if 'brand-dropdown' in NAVBAR_ELEMENTS %}
                <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle navbar-brand" href="{{ SITEURL }}/">{{ SITENAME }} {% if SITE_LINKS %}<b class="caret"></b>{% endif %}</a>
                {% if SITE_LINKS %}
                <ul class="dropdown-menu">
                    {% for name, link in SITE_LINKS %}
                    <li><a href="{{ SITEURL }}/{{ link }}">{{ name }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
                </li>
            {% endif %}

                {% if 'menu-items' in NAVBAR_ELEMENTS %}
                    {% for title, link in MENUITEMS %}
                        {% if link is string %}
                        <li><a href="{{ SITEURL }}/{{ link }}">{{ title }}</a></li>
                        {% else %}
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ title }} <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                            {% for title, target in link %}
                            <li><a href="{{ SITEURL }}/{{ target }}">{{ title }}</a></li>
                            {% endfor %}
                          </ul>
                        </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if DISPLAY_PAGES_ON_MENU %}
                    {% for p in PAGES %}
                         <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">
                             {{ p.title }}
                          </a></li>
                      {% endfor %}
                {% endif %}
                {% if DISPLAY_CATEGORIES_ON_MENU %}
                    {% for cat, null in categories %}
                        <li {% if cat == category %}class="active"{% endif %}>
                            <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat | capitalize }}</a>
                        </li>
                    {% endfor %}
                {% endif %}

            </ul>

            {% if 'search' in NAVBAR_ELEMENTS and GOOGLE_CSE_ID %}
                <div class="col-sm-3 col-md-3 pull-right">
                    <form action="http://google.com/cse" class="navbar-form" role="search" id="cse-search-box">
                    <div class="input-group">
                        <input type="hidden" value="{{ GOOGLE_CSE_ID }}" name="cx">
                        <input type="hidden" value="UTF-8" name="ie">
                        <input type="text" id="srch-term" name="q" placeholder="Search" class="form-control">
                        <div class="input-group-btn">
                            <button type="submit" value="search" name="sa" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    </form>
                </div>
            {% endif %}

            {% if 'social' in NAVBAR_ELEMENTS %}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <p class="navbar-text">
                        {% for name, link in SOCIAL %}
                                <a class="navbar-link social-nav-link" href="{{ link }}"><i class="fa fa-{{ name|lower|replace('+','-plus') }} fa-lg"></i></a>
                        {% endfor %}
                    </p>
                </li>
            </ul>
            {% endif %}
        </div>
        <!-- /.navbar-collapse -->
    </div>
</div> <!-- /.navbar -->

